<div class="container">
<div
  class="hero min-h-screen background-image">
<img src="images\cover2.jpeg" style="width: 100%" />
  <!-- style="background-image: url(D:\AngularJS\webapp\public\images\hero_section2.jpg);"> -->
  <div class="bg-opacity-100"></div>
  <div class="hero-content text-neutral-content text-center cover space">
    <div class="max-w-md mx-auto ">
      <h1 class="mb-5 text-5xl font-bold">Welcome to BookHeaven</h1>
      <p class="mb-5 text-lg">
        Discover the world of books and explore new horizons
      </p>
      <!-- <button class="btn">Explore Now</button> -->
      <button class="btn glass">Subscibe</button>
    </div>
  </div>
</div>
<h1 class="text-xl text-center1 stacked-text">
  <span class="text-rose font-bold ts">Explore Your </span>
  <span class="inline-block text-5xl uppercase font-black bg-clip-text text-transparent ft">
    Passion
  </span>
  
</h1>
<p class="text-center1">Books that leap off the pages and into your heart!!</p>
<!-- <h3 class="text-lg ">
  Heading
  <span class="badge badge-md">NEW</span>
</h3> -->
<!-- <div class="card card-compact bg-base-100 w-96 shadow-xl mt-0">
  <figure>
    <img
      src="images\hero_section2.jpg"
      alt="Books" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Book1!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div> -->
<section id="new" class="image-container">
  <div class="row justify-center">
    <img class="img-fluid brand col-lg-3 col-md-6 col-sm-12" src="images\image1.jpg"/>
    <img class="img-fluid brand col-lg-3 col-md-6 col-sm-12" src="images/image2.jpg"/>
    <img class="img-fluid brand col-lg-3 col-md-6 col-sm-12" src="images/image3.jpg"/>
    <img class="img-fluid brand col-lg-3 col-md-6 col-sm-12" src="images/image1.jpg"/>
    
   </div>
 </section>
</div>
 

